/* shared styles */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
    /* width: 1140px;
  margin: 50px auto; */
  font-family: "Mulish", sans-serif;
}
header {
    width: 1140px;
    margin: 50px auto;
}
main {
  width: 1140px;
  margin: 50px auto;
}
/* nav section */
.hamburger-icon {
  position: relative;
  right: 200px;
  visibility: hidden;
}
.nav-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 50px auto;
}
.trip-name {
  width: 48%;
  display: flex;
}
.trip-name h2 {
  color: #131318;
  font-size: 35px;
  font-weight: 800;
}
.trip-items li {
  list-style: none;
  color: #424247;
}
.orange-text {
  color: #ff5400;
  font-weight: 800;
}
.trip-items {
  width: 48%;
  display: flex;
  justify-content: space-around;
}

/* banner section  */
.banner-section {
    background-image: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8) 0%,
        rgba(19, 19, 24, 0) 100%
      ),
      url("../images/Group\ 13.png");
     width: 1100px;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 100px;
}
.banner-title {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
  }
  .banner-description {
    color: #fff;
    text-align: center;
  }

.input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #424247;
  /* margin-top: 50px;
  margin-left: 200px; */
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.input-field div{ 
    width: 250px;
    height: 32px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 10px;
    text-align: center;
    padding-top: 20px;
}
.input-field .btn{
    background-color: #ff5400;
    color: #fff;
}
.when,.select-type{
    color: #424247;
}
/* Popular tour section */
.popular-tours-section {
  display: flex;
  line-height: 2;
}
.popular-tours-content h2 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular-tours-content p {
  padding-top: 20px;
  padding-bottom: 30px;
}
.popular-tours-content li {
  padding-left: 30px;
}
.btn-primary {
  margin-left: 2px;
  border-style: none;
  border-radius: 8px;
  background: #ff5400;
  font-size: 15px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
}

/*  */
.choose-destination-img img {
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.choose-destination-content {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  line-height: 2;
}
.choose-destination-content h2 {
  color: #131318;
  font-weight: 800;
  font-size: 40px;
}
/* choose destination images */
/* .choose-destination-img image text{
    font-size: 50px;
} */
.choose-destination-img .header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.choose-destination-img .main {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.choose-destination-img .footer {
  display: flex;
  gap: 10px;
}
.header,
.main,
.footer {
  position: relative;
  display: inline-block;
}

.image-text-1 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
.image-text-2 {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
.image-text-3 {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
.image-text-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
.image-text-5 {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
.image-text-6 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
.image-text-7 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 800;
}
/*  */
.why-choose-us-content {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}
.card-section img {
  height: 64px;
  width: 64px;
  padding-bottom: 5px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  place-content: center;
}
.card-1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 20px;
}
.card-2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 20px;
}
.card-3 {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 20px;
  /* margin: auto; */
  position: relative;
  left: 300px;
}
/* Newsletter */
.newsletter-content {
  border-radius: 16px;
  border: 1px dotted #ff5400;
  padding: 40px;
  /* line-height: 2; */
  width: 40%;
  height: 350px;
}
.newsletter-content p {
  padding-bottom: 20px;
}
.newsletter-content input {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  width: 390px;
}
.newsletter-content button {
  margin-top: 30px;
  width: 390px;
  font-weight: 600;
}
.newsletter {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
.travel {
  border-radius: 16px;
  background: #ff5400;
  width: 300px;
  height: 100px;
  color: #fff;
  position: relative;
  bottom: 150px;
  left: 370px;
  transform: rotate(-20deg);
  text-align: center;
}

.footer-content {
  text-align: center;
  /* line-height: 2; */
}
.footer-content .trip-name {
  justify-content: center;
  width: 100%;
}
footer {
  background: rgba(19, 19, 24, 0.05);
  padding: 100px;
}
.footer-content .fa-brands {
  padding: 10px;
}
.footer-content p {
  padding: 10px;
  padding-top: 20px;
}
hr {
  background: rgba(19, 19, 24, 0.1);
}

/*mobile Responsive */

@media screen and (max-width: 600px) {
/* shared responsive styles     */
  body {
    
  }
    header,
    main,
    footer {
      width: 100%;
      /* flex-direction: column;
      align-items: center;
      justify-content: center; */
    }
    .nav-section{
        padding: 0;
        width: 100%;
        border: 3px solid green;
    }
    .trip-name{
        margin: 10px;
    }
    .trip-items{
        display: none;
    }
  .trip-name img {
    height: 5px;
    width: 5px;
    padding-right: 10px;
  }
  .hamburger-icon {
    visibility: visible;
    left: 120px;
  }

  /* banner section responsive */
  .banner-section {
    border: 3px solid yellow;
    width: 90%;
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin: 10px;
  }
  .banner-section img{
    width: 80%;
  }
  .banner-title{
    font-size: 30px;   
  }
  .banner-description{
    font-size: 10px;
  }
  .input-field {
    flex-direction: column;
    gap: 10px;
  }
  .input-field div{
    padding: 5px;
  }

/* Our popular tours section responsive */
  .popular-tours-section {
    border: 4px solid green;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    line-height: 1.5;
  }
  .popular-tours-content h2{
    font-size: 30px;
  }
  .popular-tour-img img {
    margin: 30px auto;
    width: 100%;
  }


  /* Choose destination section responsive*/

  .choose-destination {
    border: 4px solid black;
    margin: 10px;
  }
  .choose-destination-content{
    line-height: 1;
  }
  .choose-destination-content h2 {
    text-align: center;
    font-size: 20px;
    padding: 5px;
  }
  .choose-destination-content p{
    font-size: 12px;
  }
  .header,.main,.footer{
    flex-direction: column;
  }
  .choose-destination-img{
    margin: 10px;
  }
  .choose-destination-img img {
    width: 100%;
  }
  /* choose-destination-img positioning with text */
  .image-text-1 {
    top: 25%;
    left: 50%;
  }
  .image-text-2 {
    top: 75%;
    left: 50%;
  }
  .image-text-3 {
    top: 15%;
    left: 50%;
  }
  .image-text-4 {
    top: 45%;
    left: 50%;
  }
  .image-text-5 {
    top: 80%;
    left: 50%;
  }
  .image-text-6 {
    top: 20%;
    left: 50%;
  }
  .image-text-7 {
    top: 80%;
    left: 50%; 
  }
   
  .card-3 {
    position: relative;
    top: 0;
    left: 0;
  }
  .why-choose-us {
    width: 400px;
  }
  .card-section {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .newsletter {
    flex-direction: column;
    width: 400px;
    padding: 0;
    margin: 20px;
  }
  .newsletter-content {
    width: 60%;
  }
  .newsletter-content input {
    width: 200px;
  }
  .newsletter-content > .btn-primary {
    width: 100px;
  }
  .image-container img {
    width: 80%;
  }
  .travel {
    width: 200px;
    height: 50px;
    color: #fff;
    position: relative;
    bottom: 100px;
    left: 120px;
    transform: rotate(-20deg);
    text-align: center;
  }
  .trip-name h2 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
  }
  .trip-name img {
    width: 40px;
    height: 40px;
    padding-right: 5px;
  }
  .footer-content p {
    margin-bottom: 20px;
  }
}
